* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}
main {
    display: flex;
    width: 100%;
    background: #5dffd5;
    justify-content: center;
}
#me {
    width: 100%;
    border-radius: 50%;
    border: 10px solid white;
    margin: 2vw 0;
}
main section {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
}
h2 {
    font-size: 2.9vw;
    font-weight: 200;
    color: white;
    margin-left: 3vw;
    padding-left: 1vw;
    border-left: 8px solid white;
}
h1 {
    font-size: 4.4vw;
    color: black;
    margin-left: 3vw;
    font-family: 'Permanent Marker', cursive;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 1vw;
}
a, .projects img, nav li, .projects>a {
    transition: all .2s ease-in-out;
}
a:hover, .projects img:hover, nav li:hover {
    transform: scale(1.1);
    color: #5dffd5;
}
.projects>a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
nav {
    position: fixed;
    top: 1vw;
    right: 15%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.about {
    background-color: white;
    color: black;
}
.about section {
    width: 65%;
    margin: auto;
}
h3 {
    font-size: 4vw;
    padding: 5vw 0 3vw 0;
    color: #5dffd5;
}
p {
    font-size: 1.5vw;
    padding-bottom: 5vw;
    font-weight: 200;
    line-height: 1.5;
    color: black;
}
.skills {
    background-color: black;
}
.skills h3 {
    margin-left: 17.5%;
}
.skills ul {
    width: 65%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.skills li {
    width: 20%;
    margin: 5%;
}
.skills img {
    width: 100%;
}
.skills span {
    display: inline-block;
    color: white;
    font-size: 2vw;
    margin: 2vw 0;
    font-weight: 200;
}
.projects h3 {
    margin-left: 17.5%;
    text-align: left;
}
.projects ul {
    width: 65%;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 0 2vw;
    align-items: flex-end;
    text-align: center;
}
.projects li {
    width: 30%;
}
.projects img {
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.projects li a:last-of-type {
    display: inline-block;
    margin: 2vw 0;
    font-size: 2vw;
    color: black;
    text-decoration: none;
    font-weight: 200;
}
.projects {
    text-align: center;
}
.projects>a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5vw;
    background-color: #5dffd5;
    padding: 1vw;
    border-radius: 40px;
    color: white;
    font-weight: 300;
    margin: 2vw 0 5vw 0;
}
footer {
    background-color: black;
    color: white;
}
footer h3, footer p {
    margin-left: 17.5%;
    width: 65%;
}
footer p {
    color: white;
}
footer>ul {
    display: flex;
    width: 65%;
    margin:auto;
    justify-content: space-around;
}
footer>ul li {
    width: 20%;
}
footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    margin-bottom: 5vw;
}
footer img {
    width: 50%;
}
footer ul ul {
    display: flex;
    justify-content: flex-end;
}
footer ul ul li {
    width: 33%;
}

@media all and (max-width: 650px) {
    nav ul {
        width: 100%;
        padding: 6vw;
        border-radius: 0;
        margin-right: 0;
    }
    nav a {
        font-size: 5vw;
    }
    nav {
        width: 100%;
        top: 0;
        left: 0;
    }
    main {
        margin-top: 17vw;
        flex-direction: column;
        align-items: center;
    }
    main section {
        width: 90%;
        align-items: center;
    }
    main section:last-of-type{
        align-items: flex-start;
        padding-bottom: 10vw;
    }
    h1 {
        font-size: 13vw;
        margin: 5vw 0;
    }
    h2 {
        font-size: 8vw;
        border-left: 1vw solid white;
    }
    h3 {
        font-size: 12vw;
        margin: 5vw 0;;
    }
    p {
        font-size: 5vw;
    }

    .about section {
        width: 90%;
        margin: auto;
    }
    .skills h3 {
        margin-left: 5%;
    }
    .skills ul {
        width: 90%;
        flex-wrap: wrap;
        padding-bottom: 5vw;
    }
    .skills li {
        width: 40%;
    }
    .skills span {
        font-size: 5vw;
    }
    .projects h3 {
        margin-left: 5%;
    }
    .projects ul {
        width: 80%;
        flex-wrap: wrap;
    }
    .projects li {
        width: 100%;
    }
    .projects li a:last-of-type {
        display: inline-block;
        margin: 2vw 0;
        font-size: 7vw;
        color: black;
        text-decoration: none;
        font-weight: 200;
        padding: 5vw 0 10vw 0;
    }
    .projects>a {
        font-size: 7vw;
        padding: 5vw;
        margin: 3vw 0 10vw 0;
    }
    
    footer h3, footer p {
        margin-left: 5%;
        width: 90%;
    }
    footer>ul {
        width: 90%;
        margin:auto;
        flex-wrap: wrap;
        text-align: center;
    }
    footer>ul>li {
        width: 100%;
    }
    footer a {
        font-size: 5vw;
    }
    footer img {
        width: 35%;
    }
    footer ul ul li {
        width: 33.3333%;
    }
    footer>ul>li>a {
        display: inline-block;
        padding: 3vw 0;
    }
}
